@page "/about"

<h1>Blazor Progressive Web Application</h1>
<marquee style="font-family:'Comic Sans MS'">Current version @System.Environment.Version.ToString()</marquee>
<p>This application was written as a part of the experiment conducten in Evaluating Blazor WebAssmembly and React JS: For the Progressive Web Application Front-End</p>
<p>Navigate to the experiment page via the sidebar</p>